<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Feature Flags</string>
		</dict>
		<dict>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>DefaultValue</key>
			<string>https://mock.pstmn.io/notifications</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Custom Url</string>
			<key>Key</key>
			<string>notificationCustomUrlEnvironment</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Notification Redesign</string>
			<key>Key</key>
			<string>notificationRedesignEnvironment</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>API Environment</string>
			<key>FooterText</key>
			<string>Dont forget relaunch the app after you did any changes</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>API</string>
			<key>Key</key>
			<string>apiEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Other Used Tools</string>
			<key>FooterText</key>
			<string>Dont forget relaunch the app after you did any changes</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ClickStream</string>
			<key>Key</key>
			<string>clickStreamEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>LeanPlum</string>
			<key>Key</key>
			<string>leanplumEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>PaymentGateway</string>
			<key>Key</key>
			<string>paymentEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Facebook</string>
			<key>Key</key>
			<string>facebookEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Adjust</string>
			<key>Key</key>
			<string>adjustEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>intercom</string>
			<key>Key</key>
			<string>intercomEnvironment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Branch</string>
			<key>Key</key>
			<string>branchEnvironment</string>
			<key>DefaultValue</key>
			<string>Debug</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Google Analytics</string>
			<key>Key</key>
			<string>googleAnalyticsEnvironment</string>
			<key>DefaultValue</key>
			<string>Debug</string>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Admob</string>
			<key>Key</key>
			<string>admobEnviroment</string>
			<key>DefaultValue</key>
			<string>Test</string>
			<key>Values</key>
			<array>
				<string>Prod</string>
				<string>Debug</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Production</string>
				<string>Test</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
